<div class="modal-header">
  <h5 class="modal-title" id="state-add-label">
    {{module_name}} {{module_function}}
  </h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
    <form class="dynamic-form" onsubmit="handleSubmit(event)" data-url="{{ route }}" method="{{method}}" id="user-form">
        <input type="hidden" name="_token" value="{{ csrf_token }}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">State Name</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Enter State Name" value="{{ data.name }}"/>
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select name="status" id="status" class="form-select">
            <option value="1" {% if data.status == 1 %}selected{% endif %}>Active</option>
            <option value="0" {% if data.status == 0 %}selected{% endif %}>Inactive</option>
          </select>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
        </div>
      </form>
      
</div>
